.modal-dialog {
  height: 100vh;
  max-width: 600px;
}

.modal.show .modal-dialog {
  transform: translateY(5%);
}

h4.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart {
  border: 1px solid #fff;
  background-color: transparent;
}

.cart:hover {
  cursor: pointer;
  background-color: #fff;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btn button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 4px;
  padding: 0;
}

.modal-btn span {
  display: inline-block;
}

.list-shoe {
  padding: 40px;
}

.cart-quantity {
  position: absolute;
  top: -6px;
  left: -14px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
